:root {
  --ff-primary: "Kumbh Sans", sans-serif;

  --fw-400: 400;
  --fw-700: 700;

  --clr-blue: #5175ff;
  --clr-light-blue: #829cff;
  --clr-dark-blue: #333950;
  --clr-light-dark-blue: #747b95;
  --clr-very-dark-blue: #25293a;
  --clr-red: #f05b5b;
  --clr-white: #ffffff;
  --clr-bg-blue: rgba(81, 117, 255, 0.15);
  --clr-bg-blue-2: rgba(81, 117, 255, 0.1);
  --clr-border-blue: rgba(116, 123, 149, 0.5);
  --clr-bg-body: #f2f2f2;

  --fs-h1: 2.5rem;
  --lh-h1: 3rem;

  --fs-h1-big: 3.5rem;
  --lh-h1-big: 4.5rem;

  --fs-h2: 1.25rem;
  --lh-h2: 1.75rem;

  --fs-h3: 1rem;
  --lh-h3: 3rem;
  --ls-h3: 0.3125rem;

  --fs-text-1: 1rem;
  --lh-text-1: 1.625rem;

  --fs-text-2: 1rem;
  --lh-text-2: 1.75rem;

  --fs-timer: 2rem;
  --lh-timer: 3rem;

  --fs-timer-small: 0.75rem;
  --lh-timer-small: 1.75rem;

  --wrapper-margin: 3rem 1.5rem 6rem;
  --wrapper-pseudo: 70rem;
  --main-top: 5rem;

  --hero-img-width: 12.6875rem;
  --hero-img-height: 15rem;
  --hero-gap: 2.5rem;

  // --wrapper-max-width: 23.4375rem;

  --pattern-header-width: 30.3125rem 30.3125rem;
  --pattern-header-position: top -11.25rem center;

  --pattern-pricing-position: top -23.75rem center;

  --pattern-footer-position: top -20rem center;

  --package-padding: 2.5rem 3rem;
  --pricing-margin: 6.25rem;
  --pricing-gap: 2rem;

  --timer-width: 10rem;
  --timer-height: 6rem;
  --timer-border: 0.25rem;

  // --signup-countdown-margin: 4rem 0;

  @media (min-width: 48em) {
    --fs-timer: 3.5rem;
    --lh-timer: 3rem;

    --fs-timer-small: 1rem;

    --wrapper-margin: 4.5rem 2.5rem 6rem;
    --wrapper-pseudo: 60rem;
    --main-top: 6rem;

    --hero-img-width: 17.5625rem;
    --hero-img-height: 19.625rem;
    --hero-gap: 5rem;

    // --wrapper-max-width: 48rem;

    --pattern-header-width: 41.625rem 41.625rem;
    --pattern-header-position: top -12.5rem right -17.5rem;
    --pattern-pricing-position: left -20rem center;

    --pricing-gap: 1.5rem;

    --timer-width: 8rem;
    --timer-height: 10rem;
    --timer-border: 1rem;
  }

  @media (min-width: 90em) {
    --fs-h1: 3.5rem;
    --lh-h1: 4rem;

    --fs-text-1: 1.125rem;
    --lh-text-1: 1.75rem;

    --wrapper-margin: 5.0625rem 10.3125rem 5.6875rem;
    --wrapper-pseudo: 50rem;

    --hero-img-width: 29.6875rem;
    --hero-img-height: 33.1875rem;
    --hero-gap: 6rem;

    --wrapper-max-width: 90rem;

    --pattern-header-width: 70.875rem 70.875rem;
    --pattern-header-position: top -25rem right -23.75rem;
    --pattern-footer-position: left -45rem center;

    --timer-width: 7rem;
    --timer-height: 8rem;
  }
}
